<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <table class="table">
        <thead>
          <tr><th>Recent Posts</th></tr>
        </thead>
        <tr>
          <td>
            <a href="#">Title <small class="muted">by Author</small></a>
          </td>
        </tr>
      </table>
    </div>
    <div class="span9">
      MORE
    </div>
  </div>
</div>